/*----------  ----------*\
          MIXINS
\*----------  ----------*/


@font-face {
  font-family: "sans";
  src: url('../../sanseriffic/Sanseriffic.otf');
}

@font-face {
  font-family: "master";
  src: url('../../master_of_break/master_of_break.otf');
  src: url('../../master_of_break/master_of_break.ttf');
}




/*----------  ----------*\
          MIXINS
\*----------  ----------*/


@mixin flx-ctr{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cercle($dimensions){
  border-radius: 50%;
  width: $dimensions;
  height: $dimensions;
}

@mixin rotation{
  -moz-box-shadow: 0px 0px 5px 2px #ffffff;
  -webkit-box-shadow: 0px 0px 5px 2px #ffffff;
  -o-box-shadow: 0px 0px 5px 2px #ffffff;
  box-shadow: 0px 0px 5px 2px #ffffff;
  -webkit-transition:-webkit-transform .9s;
  -moz-transition:-moz-transform .9s;
  -o-transition:-o-transform .9s;
  -ms-transition:-ms-transform .9s;
  transition:transform .9s;
  &:hover{
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    transform:rotate(720deg);
  }
}

@mixin transition($effet, $duree){
  -webkit-transition:-webkit-$effet $duree;
  -moz-transition:-moz-$effet $duree;
  -o-transition:-o-$effet $duree;
  -ms-transition:-ms-$effet $duree;
  transition: $effet $duree;
}



/*----------  ----------*\
           Body
\*----------  ----------*/


body{
  width:100vw;
  overflow-x: hidden;
  font-family: "sans", sans-serif;
  background-image: url(../../images/fjord.jpg);
  background-attachment: fixed;
  background-size: 100%;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  p, h1, h3, h4{
    margin: 0;
  }
  h3{
    color: #212121;
    font-size: 4vh;
    transition: linear 0.2s;
  }
  a{
    text-decoration: none;
  }
}

@media screen and (max-width: 980px) {
    body{
      background-image: url(../../images/fjord.jpg);
      background-size: cover;
    }
}


.sass{
  font-family: "master", serif;
  font-weight: lighter;
}

.scrollTop{
  z-index: 2;
  @include flx-ctr;
  @include cercle(8vh);
  background-color: rgb(255, 82, 82);
  position: fixed;
  bottom: 2vh;
  right: 1.5vw;
  opacity: 0.5;
  transition: linear 0.2s;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
  i{
    font-size: 4vh;
  }
}





/*----------  ----------*\
          HEADER
\*----------  ----------*/


header{
  color: #ffffff;
  height: 98vh;
  width: 100vw;
  display: flex;
  align-items: center;
  border-bottom: 2vh solid #607D8B;
  .title{
    z-index: 1;
    margin-left: -100vw;
    text-align: center;
    text-shadow: 0 0 1px #000000;
    font-weight: 500;
  }
}

@media screen and (min-width: 981px) {
  .title{
    font-size: 10vw;
  }
}

@media screen and (max-width: 980px) {
  .flex{
    flex-direction: column;
  }
  .title{
    font-size: 16vw;
  }
}


/*----- Navigation -----*/

nav{
  z-index: 3;
  display: none;
  height: 14vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  .flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    .half{
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 4;
      .devName{
        z-index: 1;
        opacity: 0;
        font-size: 5vh;
        font-weight: 500;
      }
    }
    .dev{
      z-index: 2;
      display: none;
      margin: 2vh 3vw;
      @include rotation;
    }
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1;
      a{
        color: #ffffff;
        &:hover{
          text-shadow: 0 0 0.3px #ffffff;
        }
      }
    }
  }
}

@media screen and (min-width: 981px) {
  nav{
    background-color: rgba(96, 125, 139, 0.2);
    ul{
      a{
        font-size: 4vh;
      }
    }
  }
  .devName{
    position: absolute;
    top: 5vh;
    left: 3vw;
  }
  .dev{
    @include cercle(10vh);
  }
}

@media screen and (min-width: 361px) and (max-width: 980px) {
  nav{
    background-color: rgba(96, 125, 139, 0.5);
    height: 20vh;
    ul{
      a{
        font-size: 5vh;
        font-weight:  normal;
      }
    }
  }
  .devName{
    position: absolute;
    top: 3vh;
    left: 3vw;
  }
  .dev{
    @include cercle(6vh);
  }
}

@media screen and (max-width: 980px) {
  nav{
    background-color: rgba(96, 125, 139, 0.5);
    height: 20vh;
    ul{
      a{
        font-size: 5vh;
        font-weight:  normal;
      }
    }
  }
  .devName{
    position: absolute;
    top: 5vh;
    left: 3vw;
  }
  .dev{
    @include cercle(10vh);
  }
}





/*---------- ----------*\
        CARROUSEL
\*---------- ----------*/


.carrousel{
  z-index: 1;
  position: absolute;
  left: 36vw;
  bottom: -26vh;
  border: 2vh solid #607D8B;
  border-radius: 50%;
  background-color: rgba(96, 125, 139, 0);
  overflow: hidden;
  .imgCrsl{
    @include cercle(100%);
    ul{
      height: 100%;
      width: 400%;
      list-style: none;
      li{
        height: 100%;
        width: 25%;
        border-radius: 50%;
        display: inline-block;
        img{
          height: 100%;
          width: 100%;
          border-right: 1vw solid #333333;
        }
      }
    }
  }
  // .containerBtn{
  //   z-index: 2;
  //   position: absolute;
  //   bottom: 10%;
  //   left: 34%;
  //   display: flex;
  //   .roundBtn{
  //     @include cercle(2.5vh);
  //     background-color: #000000;
  //     opacity: 0.7;
  //     margin: 0 5px;
  //     @include transition(ease, 0.2s);
  //     &:hover{
  //       background-color: #bfbfbf;
  //       cursor: pointer;
  //     }
  //   }
  // }
}

@media screen and (min-width: 981px) {
  .carrousel{
    height: 50vh;
    width: 25vw;
  }
}

@media screen and (min-width: 362px) and (max-width: 980px) {
  .carrousel{
    height: 35vh;
    width: 50vw;
    bottom: -18.5vh;
    left: 22.5vw;
  }
}

@media screen and (max-width: 360px) {
  .carrousel{
    height: 50vh;
    width: 85vw;
    left: 5vw;
  }
}






/*---------- ----------*\
        SOMETHING
\*---------- ----------*/


.sthg{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  .mymy{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70vh;
    width: 20vw;
    padding: 2vh 2.5vw;
    background-color: rgba(69, 90, 100, 01);
    border-radius: 1%;
    h3{
      text-align: center;
    }
    p{
      color: #FFFFFF;
      font-size: 3.5vh;
      font-weight: normal;
      text-align: center;
    }
  }
}

@media screen and (min-width: 981px) {

}

@media screen and (min-width: 361px) and (max-width: 980px) {
  .sthg{
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 100vh;
    margin-top: 5vh;
    .mymy{
      height: 80vh;
      width: 40vw;
    }
  }
}

@media screen and (max-width: 360px) {
  .sthg{
    height: 200vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    .mymy{
      margin-top: 10vh;
      width: 80vw;
    }
  }
}





/*---------- ----------*\
         TECHNOS
\*---------- ----------*/
.technos{
  height: 100vh;
  width: 100vw;
  @include flx-ctr;

  .ctr {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
  }
  .flex1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 40%;
    .style1{
      @include flx-ctr;
      height: 48%;
      width: 48%;
      background-color: #607D8B;
    }
    .style2{
      @include flx-ctr;
      height: 48%;
      width: 98%;
      background-color: #CFD8DC;
      &:hover h3{
        font-size: 6vh;
      }
    }
  }
  .flex2{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 60%;
    .style3{
      @include flx-ctr;
      height: 98%;
      width: 30%;
      background-color: #455A64;
      &:hover h3{
        font-size: 6vh;
      }
    }
    .style1{
      @include flx-ctr;
      height: 48%;
      width: 33%;
      background-color: #CFD8DC;
    }
  }
  .flex3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 32%;
    width: 100%;
    .style1{
      @include flx-ctr;
      height: 98%;
      width: 19%;
      background-color: #455A64;
    }
    .style4{
      @include flx-ctr;
      height: 98%;
      width: 59%;
      background-color: #607D8B;
      &:hover h3{
        font-size: 6vh;
      }
    }
  }

}

.rotate{
  -webkit-transition:-webkit-transform 1.2s;
  -moz-transition:-moz-transform 1.2s;
  -o-transition:-o-transform 1.2s;
  -ms-transition:-ms-transform 1.2s;
  transition:transform 1.2s;
  &:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@media screen and (min-width: 981px) {
  .ctr{
    width: 76vw;
  }
}

@media screen and (max-width: 980px) {
  .ctr{
    width: 99vw;
    justify-content: center;
    .flex1, .flex2, .flex3{
      height: 30vh;
      width: 100vw;
    }
  }
}






/*---------- ----------*\
           FIN
\*---------- ----------*/


.fin{
  width: 100vw;
  height: 100vh;
  .icon{
    width: 100%;
    height: 15vh;
    background-color: #333333;
    ul{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i{
      margin: 0 10px;
      color: #9E9E9E;
      font-size: 7vh;
      transition: linear 0.2s;
      &:hover{
        font-size: 8vh;
      }
    }
  }
  footer{
    width: 100%;
    height: 85vh;
    background-color: #1f1f1f;
    @include flx-ctr;
    justify-content: space-around;
    h4{
      color: #797979;
      font-size: 5vh;
    }
    ul{
      color: #797979;
      list-style: square;
      li{
        margin-top: 2vh;
        margin-left: 1vw;
      }
      a{
        color: #FFFDFB;
        font-size: 3.5vh;
          transition: linear 0.2s;
        &:hover{
          text-decoration: underline;
        }
      }
    }

  }
}




@media screen and (max-width: 980px) {
  footer{
    flex-direction: column;
  }
}
