/*----------  ----------*\
          MIXINS
\*----------  ----------*/
@font-face {
  font-family: "sans";
  src: url("../../sanseriffic/Sanseriffic.otf"); }
@font-face {
  font-family: "master";
  src: url("../../master_of_break/master_of_break.otf");
  src: url("../../master_of_break/master_of_break.ttf"); }
/*----------  ----------*\
          MIXINS
\*----------  ----------*/
/*----------  ----------*\
           Body
\*----------  ----------*/
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "sans", sans-serif;
  background-image: url(../../images/fjord.jpg);
  background-attachment: fixed;
  background-size: 100%; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  body p, body h1, body h3, body h4 {
    margin: 0; }
  body h3 {
    color: #212121;
    font-size: 4vh; }
  body a {
    text-decoration: none; }

.sass {
  font-family: "master", serif;
  font-weight: lighter; }

.scrollTop {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  background-color: #ff5252;
  position: fixed;
  bottom: 2vh;
  right: 1.5vw;
  opacity: 0.5;
  transition: linear 0.2s; }
  .scrollTop:hover {
    opacity: 1;
    cursor: pointer; }
  .scrollTop i {
    font-size: 4vh; }

/*----------  ----------*\
          HEADER
\*----------  ----------*/
header {
  color: #ffffff;
  height: 98vh;
  width: 100vw;
  display: flex;
  border-bottom: 2vh solid #607D8B; }
  header .title {
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 30%;
    left: -40%;
    text-shadow: 0 0 1px #000000;
    font-size: 18vh;
    font-weight: 500; }

/*----- Navigation -----*/
nav {
  z-index: 3;
  display: none;
  height: 14vh;
  width: 100%;
  background-color: rgba(96, 125, 139, 0.2);
  position: fixed;
  top: 0;
  left: 0; }
  nav .flex {
    display: flex;
    justify-content: space-between; }
    nav .flex .half {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 4; }
      nav .flex .half .devName {
        z-index: 1;
        opacity: 0;
        position: absolute;
        top: 5vh;
        left: 3vw;
        font-size: 5vh;
        font-weight: 500; }
    nav .flex .dev {
      z-index: 2;
      display: none;
      margin: 2vh 3vw;
      border-radius: 50%;
      width: 10vh;
      height: 10vh;
      -moz-box-shadow: 0px 0px 5px 2px #ffffff;
      -webkit-box-shadow: 0px 0px 5px 2px #ffffff;
      -o-box-shadow: 0px 0px 5px 2px #ffffff;
      box-shadow: 0px 0px 5px 2px #ffffff;
      -webkit-transition: -webkit-transform .9s;
      -moz-transition: -moz-transform .9s;
      -o-transition: -o-transform .9s;
      -ms-transition: -ms-transform .9s;
      transition: transform .9s; }
      nav .flex .dev:hover {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -o-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg); }
    nav .flex ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1; }
      nav .flex ul a {
        color: #ffffff;
        font-size: 4vh; }
        nav .flex ul a:hover {
          text-shadow: 0 0 0.3px #ffffff; }

/*---------- ----------*\
        CARROUSEL
\*---------- ----------*/
.carrousel {
  height: 50vh;
  width: 25%;
  z-index: 1;
  position: absolute;
  left: 37%;
  bottom: -27%;
  border: 2vh solid #607D8B;
  border-radius: 50%;
  background-color: rgba(96, 125, 139, 0);
  overflow: hidden; }
  .carrousel .imgCrsl {
    border-radius: 50%;
    width: 100%;
    height: 100%; }
    .carrousel .imgCrsl ul {
      height: 100%;
      width: 400%;
      list-style: none; }
      .carrousel .imgCrsl ul li {
        height: 100%;
        width: 25%;
        border-radius: 50%;
        display: inline-block; }
        .carrousel .imgCrsl ul li img {
          height: 100%;
          width: 100%;
          border-radius: 50%; }
  .carrousel .containerBtn {
    z-index: 2;
    position: absolute;
    bottom: 10%;
    left: 34%;
    display: flex; }
    .carrousel .containerBtn .roundBtn {
      border-radius: 50%;
      width: 2.5vh;
      height: 2.5vh;
      background-color: #000000;
      opacity: 0.7;
      margin: 0 5px;
      -webkit-transition: -webkit- ease 0.2s;
      -moz-transition: -moz- ease 0.2s;
      -o-transition: -o- ease 0.2s;
      -ms-transition: -ms- ease 0.2s;
      transition: ease 0.2s; }
      .carrousel .containerBtn .roundBtn:hover {
        background-color: #bfbfbf;
        cursor: pointer; }

/*---------- ----------*\
        SOMETHING
\*---------- ----------*/
.sthg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  .sthg .mymy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    width: 20vw;
    padding: 2vh 2.5vw;
    background-color: #455a64;
    border-radius: 1%; }
    .sthg .mymy h3 {
      text-align: center; }
    .sthg .mymy p {
      color: #FFFFFF;
      font-size: 3.5vh;
      font-weight: bold;
      text-align: center; }

/*---------- ----------*\
         TECHNOS
\*---------- ----------*/
.technos {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .technos .ctr {
    height: 90%;
    width: 75%;
    display: flex;
    flex-wrap: wrap; }
  .technos .flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 40%; }
    .technos .flex1 .style1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48%;
      width: 48%;
      background-color: #607D8B; }
    .technos .flex1 .style2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48%;
      width: 98%;
      background-color: #CFD8DC; }
  .technos .flex2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 60%; }
    .technos .flex2 .style3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 98%;
      width: 30%;
      background-color: #455A64; }
    .technos .flex2 .style1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48%;
      width: 33%;
      background-color: #CFD8DC; }
  .technos .flex3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 32%;
    width: 100%; }
    .technos .flex3 .style1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 98%;
      width: 19%;
      background-color: #455A64; }
    .technos .flex3 .style4 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 98%;
      width: 59%;
      background-color: #607D8B; }

.rotate {
  -webkit-transition: -webkit-transform 1.2s;
  -moz-transition: -moz-transform 1.2s;
  -o-transition: -o-transform 1.2s;
  -ms-transition: -ms-transform 1.2s;
  transition: transform 1.2s; }
  .rotate:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

/*---------- ----------*\
           FIN
\*---------- ----------*/
.fin {
  width: 100vw;
  height: 100vh; }
  .fin .icon {
    width: 100%;
    height: 15vh;
    background-color: #333333; }
    .fin .icon ul {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .fin .icon i {
      margin: 0 10px;
      color: #9E9E9E;
      font-size: 7vh; }
      .fin .icon i:hover {
        font-size: 8vh; }
  .fin footer {
    width: 100%;
    height: 85vh;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around; }
    .fin footer h4 {
      color: #797979;
      font-size: 5vh; }
    .fin footer ul {
      color: #797979;
      list-style: square; }
      .fin footer ul li {
        margin-top: 2vh;
        margin-left: 1vw; }
      .fin footer ul a {
        color: #FFFDFB;
        font-size: 3.5vh; }
        .fin footer ul a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
